.map-info {
  position: absolute;
  left: 66%;
  margin-right: 0;
  top: 17%;
  bottom: 14rem;
  z-index: 5;
  width: 33rem;
  border-radius: 2rem 2rem 0.6rem 0.6rem;
}
.card-info {
  width: 350px;
}
.card-img-top {
  width: 300px;
}
.info-option {
  display: flex;
  align-items: center;
  height: 6.5rem;
  padding: 0 2rem;
  border-top: 0.1rem solid #dee3ef;
  font-size: 1.1rem;
}
.option-title {
  color: #bb4f59;
  font-size: 1.8rem;
}
.card-info-text {
  line-height: 1.42857;
}
.card-text {
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.card-text li {
  display: flex;
}
.card-text i {
  flex: 0 0 1.6rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  color: #787878;
  text-align: center;
}
.info-option-button {
  margin-left: auto;
}
.info-option-button img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
