/* 맵 카드 영역 */
.map-info {
  position: absolute;
  left: 70%;
  margin-right: 0;
  bottom: 14rem;
  z-index: 5;
  width: 33rem;
}
.card-body {
  background: #f5f5f5;
  padding: 3px;
  border-radius: 10px;
}
.card-info {
  width: 350px;
}
.card-img-top {
  width: 100%;
  border-radius: 30px;
}
.card-info-text a {
  line-height: 7vh;
}
.card-text li {
  display: flex;
  align-items: center;
}
.card-text i {
  flex: 0 0 1.6rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  color: #787878;
  text-align: center;
}

.info-option {
  display: flex;
  align-items: center;
  height: 4.5rem;
  font-size: 1.1rem;
  padding: 1.2rem;
  border-top: 1px solid #dee3ef;
}
.card-text {
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  font-weight: 500;
}
.option-title {
  display: flex;
  color: #bb4f59;
  font-size: 1.5em;
  white-space: nowrap;
}
.info-option-button {
  margin-left: auto;
}

.info-option-button a img {
  max-width: 100%;
  vertical-align: top;
}
.info-option-button a::after {
  display: block;
}
/*  */
.hum {
  background: url(https://blog.kakaocdn.net/dn/EUyI3/btqDPYEYgss/x3dY0uYvYR6dqEamgVP6rK/img.jpg) 0 0 no-repeat;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.hum h1 {
  font-size: 3rem;
  color: #f5f5f5;
}
/* 스와이퍼 */
.slider {
  background: #f1cc63;
}
.swiper {
  width: 100%;
  height: 300px;
}
.iw_inner {
  padding: 10px;
}
