{% load static %}

{% include 'single_pages/navbar.html' %}
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <img class="card-img-top main-bg" src="{% static 'images/cafe1.jpg' %}" alt="random_image">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">Coffee & Dessert</h1>
                    <br>
                    <p class="fs-4">아무 카페나 가지마!</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="li-section mx-2">
                <ul class="content-wrap justify-content-between">
                    {% for cafe in cafes %}
                    <li><a href="#" data-toggle="modal" data-target="#cafe{{cafe.pk}}">
                            <figure><img src="{{ cafe.head_image.url }}" alt=""></figure>
                            <dl>
                                <dt>
                                    {{ cafe.subject }}
                                </dt>
                                <dd>
                                    {{ cafe.content }}
                                </dd>
                            </dl>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% include 'single_pages/pagination.html' %}
    {% for cafe in cafes %}
    
        <div class="modal fade" id="cafe{{cafe.pk}}" tabindex="-1" role="dialog" aria-labelledby="{{cafe.pk}}ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <img class="card-img-top" src="{{ cafe.head_image.url }}" alt="Card image cap">
                            <div class="col-lg-12">
                                <a href="#" class="shop-name">{{cafe.subject}} &rarr;</a>
                                <p>{{cafe.content}}</p>
                                <ul class="card-text">
                                    <li><i class="fas fa-map-marker-alt"></i><span class="text">{주소}</span></li>
                                    <li><i class="fa-solid fa-mobile-screen-button"></i><span class="text">{전화번호}</span>
                                    </li>
                                    <li><i class="fa-regular fa-clock"></i>{영업시간}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="info-option">
                            <div class="option-title">
                                <i class="fa-solid fa-map"></i>
                                <span class="text">지도 보기</span>
                                <a href="{% url 'cafe_detail' cafe.pk %}" class="btn btn-primary">상세보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
            <a href="{% url 'pickplace' %}" class="ml-auto btn btn-primary">장소 선택 페이지로</a>
        </div>
    </footer>
