{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{food.subject}} 더보기</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <script defer src="{% static 'single_pages/js/course.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'single_pages/bootstrap/bootstrap.min.css' %}" media="screen">
    </head>
    {% include 'single_pages/navbar.html' %}
    {% block content %}
    <body>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="card mb-3">
                    <img src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        {% if food.tags.exists %}
                        <i class="fas fa-tags"></i>
                        {% for tag in post.tags.all %}
                        <span class="badge badge-pill badge-light">{{ tag }}</span></a>
                        {% endfor %}
                        {% endif %}
                        <h5 class="card-title">{{food.subject}}</h5>
                        <p class="card-text">{{food.content}}</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'pickfood' %}" class="btn btn-primary">뒤로가기</a>
                        <a href="{% url 'pickfood' %}" class="btn btn-primary pickcourse">선택하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {% for food in foods %}
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"></div>
                                    <h2 class="fs-4 fw-bold"><img class="card-img-top" src="{{ food.head_image.url }}" alt=""></h2>
                                    <p class="mb-0">{{ food.subject }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    </body>
    {% endblock %}
</html>