{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>place page</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <script defer src="{% static 'single_pages/js/course.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'single_pages/bootstrap/bootstrap.min.css' %}"
        media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/cafe_style.css' %}">
</head>
{% include 'single_pages/navbar.html' %}


<body>
    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <img class="card-img-top main-bg" src="{% static 'images/place6.jpg' %}" alt="음식점">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">A Special Day!</h1>
                    <br>
                    <p class="fs-4">특별한 오늘을 만들어보세요.</p>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="li-section mx-2">
                <ul class="content-wrap justify-content-between">
                    {% for place in places %}
                    <li><a href="#" data-toggle="modal" data-target="#place{{place.pk}}">
                            <figure><img src="{{ place.head_image.url }}" alt=""></figure>
                            <dl>
                                <dt>
                                    {{ place.subject }}
                                </dt>
                                <dd>
                                    {{ place.content }}
                                </dd>
                            </dl>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'single_pages/pagination.html' %}

    {% for place in places %}
    
        <div class="modal fade" id="place{{place.pk}}" tabindex="-1" role="dialog" aria-labelledby="{{place.pk}}ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <img class="card-img-top" src="{{ place.head_image.url }}" alt="Card image cap">
                            <div class="col-lg-12">
                                <a href="#" class="shop-name">{{place.subject}} &rarr;</a>
                                <p>{{place.content}}</p>
                                <ul class="card-text">
                                    <li><i class="fas fa-map-marker-alt"></i><span class="text">{주소}</span></li>
                                    <li><i class="fa-solid fa-mobile-screen-button"></i><span class="text">{전화번호}</span>
                                    </li>
                                    <li><i class="fa-regular fa-clock"></i>{영업시간}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="info-option">
                            <div class="option-title">
                                <i class="fa-solid fa-map"></i>
                                <span class="text">지도 보기</span>
                                <a href="{% url 'place_detail' place.pk %}" class="btn btn-primary">상세보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
            <a href="{% url 'pickcafe' %}" class="ml-auto btn btn-primary">카페 선택 페이지로</a>
        </div>
    </footer>
    <!-- Bootstrap core JS-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</body>


</html>
