{% load static %}
{% block title %} {% endblock %}
{% include 'single_pages/navbar.html' %}
{% block content %}
<div class="mt-4 row">
  <ul class="mx-auto nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#kk">강귀권</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#kobs95">고반석</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#ha">김현아</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#jyp">박준영</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#rj">최련정</a>
    </li>
  </ul>
</div>
<div class="container mb-4">
  <div class="card tab-content">
    <div class="card tab-pane fade show active" id="kk">
      <!-- 자기소개 cont -->
      <div class="card-body d-sm-flex">
        <figure class="figure">
          <img src="/static/images/sugar.jpg" class="figure-img img-fluid rounded" width="300px" alt="...">
          <figcaption class="figure-caption text-center">1995.07.04 솜설탕</figcaption>
        </figure>
        <div class="px-4">
          <h1 class="font-weight-bolder lead">안녕하세요 최련정입니다.</h1>
          <br />
          <p class="font-weight-normal mb-4" style="line-height: 1.5;">
            노래듣는 것과 등산하는 것을 좋아합니다. <br>
            하루 일과가 끝나면 헬스장에 가거나 영화, 드라마를 보며 하루를 마무리 하는것을 좋아합니다.
          </p>
          <ul style="line-height: 1.5;">
            <li class="font-weight-normal fw-semibold mb-2">WORK EXPERIENCE</li>
            <ul class="font-weight-light mb-4">
              <li>2022.11~2023.05 라시따델라모다 카페 매니저</li>
              <li>2022.07~2022.11 엔티시스 퍼블리셔</li>
              <li>2021.09~2021.12 베니크레비즈 퍼블리셔</li>
              <li>2020.05~2020.12 쓰리에스씨앤에프 카페 매니저</li>
              <li>2017.10~2020.03 위치커피 매니저</li>
            </ul>
            <li class="font-weight-normal fw-semibold mb-2">EDUCATION</li>
            <ul class="font-weight-light mb-4">
              <li>2023.07~ 강남 하이미디어 파이썬 빅데이터분석 과정 진행</li>
              <li>2021.03~2021.08 천호 하이미디어 UI/UX 프론트앤드 과정 수료</li>
              <li>2014.03~2018.08 동신대학교 경찰행정학과 졸업</li>
            </ul>
            <li class="font-weight-normal fw-semibold mb-2">LICENSE</li>
            <ul class="font-weight-light mb-4">
              <li>GTQ 1급(2021.05)</li>
              <li>지텔프영어(2020.10)</li>
              <li>한국실용글쓰기(2017.04)</li>
              <li>1종보통운전면허(2014.04)</li>
            </ul>
            <li class="font-weight-normal fw-semibold mb-2">LICENSE</li>
            <ul class="font-weight-light mb-4">
              <li>GTQ 1급(2021.05)</li>
              <li>지텔프영어(2020.10)</li>
              <li>한국실용글쓰기(2017.04)</li>
              <li>1종보통운전면허(2014.04)</li>
            </ul><li class="font-weight-normal fw-semibold mb-2">LICENSE</li>
            <ul class="font-weight-light mb-4">
              <li>GTQ 1급(2021.05)</li>
              <li>지텔프영어(2020.10)</li>
              <li>한국실용글쓰기(2017.04)</li>
              <li>1종보통운전면허(2014.04)</li>
            </ul><li class="font-weight-normal fw-semibold mb-2">LICENSE</li>
            <ul class="font-weight-light mb-4">
              <li>GTQ 1급(2021.05)</li>
              <li>지텔프영어(2020.10)</li>
              <li>한국실용글쓰기(2017.04)</li>
              <li>1종보통운전면허(2014.04)</li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- 자기소개 cont 끝 -->
    </div>

    <div class="card tab-pane fade" id="kobs95">
      <div class="card-body"></div>
    </div>
    <div class="card tab-pane fade" id="ha">
      <div class="card-body"></div>
    </div>
    <div class="card tab-pane fade" id="jyp">
      <div class="card-body"></div>
    </div>
    <div class="card tab-pane fade" id="rj">
      <div class="card-body"></div>
    </div>
  </div>
</div>
{% endblock %}

{% include 'single_pages/footer.html' %}